:root {
  --primary-color: #212529;
  --primary-bg-color: #fcfcfc;
  --light-color: #6c6c6c;
  --link-color: #0432ff;
  --light-bg-color: #f0f0f0;
  --light-bg-color-2: #e8e8e8;
  --light-bg-color-3: #a6a6a6;

  --font-title: Avenir,Tahoma,Calibri,Verdana,sans-serif;
  --font-paragraph: Avenir,Tahoma,Calibri,Verdana,sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: var(--font-paragraph);
  font-size: 18px;
}

body {
  line-height: 1.4em;
  margin: 0 auto;
  color: var(--primary-color);
  min-width: 250px;
  background-color: var(--primary-bg-color);
}

a, a:hover, a:visited, a:active {
  color: var(--link-color);
  text-decoration: none;
}

h1, h2, h3 {
  font-family: var(--font-title);
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.83rem 0;
}

h3 {
  font-size: 1.17rem;
  line-height: 1.8rem;
  margin: 1em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pexego-content-paragraph {
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  font-family: inherit;
  height: auto;
  padding: 0 1rem;
  margin: 0;
  min-height: 55px;
}

.pexego-content-image {
  min-height: 200px;
  margin-top: 1rem;
}

.pexego-content-image-caption {
  outline: 0;
  overflow-y: auto;
  min-height: 30px;
  margin: 0;
  padding: 0 1rem;
  font-size: 0.9rem;
  color: var(--light-color);
}

.pexego-content-image-caption p {
  margin: 0;
  padding: 0;
}

.pexego-content-image-caption:focus,
.pexego-section-paragraph:focus {
  outline: 0;
}

.pexego-section-paragraph-placeholder {
  color: var(--light-bg-color-3);
}

.pexego-actionbar {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: stretch;
  position: absolute;
  left: 1rem;
  margin-right: 1rem;
  background-color: var(--light-bg-color);
  border: 1px solid var(--light-bg-color-2);
}

.pexego-actionbar-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  outline: 0;
  width: auto;
  margin: 0;
  font-size: 1rem;
  padding: 0.35rem 0.5rem;
  min-height: initial;
  min-width: 35px;
  color: var(--primary-color);
}

.pexego-actionbar-button:hover,
.pexego-actionbar-button-selected {
  background-color: var(--light-bg-color-2);
}

.pexego-section {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.pexego-section-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.pexego-section-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.pexego-section-button {
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.35rem;
  border-radius: 1rem;
}

.pexego-section-button:hover {
  background-color: var(--light-bg-color-2);
}

.pexego-section-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.pexego-section-video iframe,
.pexego-section-video object,
.pexego-section-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pexego-tools {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
}

.pexego-section-add,
.pexego-actions {
  display: flex;
  flex-shrink: 1;
  flex-grow: 0;
  gap: 1rem;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0.25rem 0;
  background-color: var(--primary-bg-color);
}

.pexego-actions {
  justify-content: flex-end;
  padding-left: 0.25rem;
  padding-right: 1rem;
}

.pexego-section-add {
  justify-content: flex-start;
  padding-right: 0.25rem;
  padding-left: 1rem;
}

.pexego-add-section {
  cursor: pointer;
}

.pexego-rearrange-close,
.pexego-preview-close {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--primary-bg-color);
  padding: 0.1rem;
}

svg,
.img-svg {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

.img-svg-30 {
  max-width: 35px;
  max-height: 35px;
}

.null {display: none !important;}
