:root {
  --primary-color: #212529;
  --primary-bg-color: #fcfcfc;
  --light-bg-color-2: #e8e8e8;
  --light-bg-color-3: #a6a6a6;

  --highlight-color: #0432ff;
  --border-color: #a6a6a6;
  --light-bg-color: #f0f0f0;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

.pexego-container {
  padding-bottom: 2rem;
}

.pexego-content-paragraph {
  order: 2;
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  font-family: inherit;
  height: auto;
  padding: 0;
  margin: 0 1rem;
  min-height: 55px;
}

.pexego-content-paragraph h1,
.pexego-content-title {
  padding: 0;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
}

.pexego-content-paragraph h2,
.pexego-content-subtitle {
  padding: 0;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.3;
}

.pexego-content-paragraph h1,
.pexego-content-paragraph h2 {
  margin-left: 0;
  margin-right: 0;
}

.pexego-content-image {
  min-height: 200px;
  margin-top: 1rem;
}

.pexego-content-image-caption {
  min-height: 30px;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.pexego-actionbar {
  order: 1;
  display: flex;
}

.pexego-actionbar-right,
.pexego-actionbar-left {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.pexego-actionbar-right {
  justify-content: flex-end;
}

.pexego-actionbar-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  outline: 0;
  width: auto;
  margin: 0;
  font-size: 1rem;
  padding: 0.35rem 0.5rem;
  min-height: initial;
  min-width: 35px;
  color: var(--primary-color);
}

.pexego-actionbar-button:hover,
.pexego-actionbar-button-selected {
  background-color: var(--light-bg-color);
}

.pexego-add-sections {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.pexego-add-section {
  flex-grow: 0;
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  min-height: revert;
  border: none;
  margin: 0.5rem;
  width: auto;
  text-align: left;
}

.pexego-add-section:hover {
  opacity: 0.9;
}

.pexego-section {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.pexego-section-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.pexego-section-wrapper-border {
  border: 1px solid var(--border-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pexego-section-wrapper-type {
  position: absolute;
  top: -20px;
  left: -1px;
  background-color: var(--border-color);
  color: var(--main-bg-color);
  padding: 0.25rem;
  font-size: 0.7rem;
  line-height: 1;
}

.pexego-section-controls {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.pexego-section-button {
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.35rem;
  border-radius: 1rem;
}

.pexego-section-button:hover {
  background-color: var(--light-bg-color-2);
}

.placeholder:focus {
  outline: 0;
}

.placeholder:empty:before {
  content: attr(data-placeholder);
  color: var(--light-bg-color-3);
}

.placeholder:empty:focus:before {
  content: "";
}

.pexego-section-video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.pexego-section-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.pexego-section-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg,
.img-svg {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0;
}

.m-l-05 {margin-left: 0.5rem !important;}
.m-r-05 {margin-right: 0.5rem !important;}
.null {display: none !important;}
