:root {
  --main-bg-color: #fcfcfc;
  --main-text-color: #212529;

  --link-color: #0432ff;

  --content-width: 800px;

  --font-title: sans-serif;
  --font-paragraph: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: var(--font-paragraph);
  font-size: 16px;
}

body {
  line-height: 1.4em;
  margin: 0 auto;
  color: var(--main-text-color);
  min-width: 250px;
  background-color: var(--main-bg-color);
}

a, a:hover, a:visited, a:active {
  color: var(--link-color);
  text-decoration: none;
}

h1, h2, h3 {
  font-family: var(--font-title);
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.83rem 0;
}

h3 {
  font-size: 1.17rem;
  line-height: 1.8rem;
  margin: 1em 0;
}

main {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: bisque;
  text-align: center;
}

header > h1 {
  margin: 0;
  padding: 0 2rem;
  color: green;
  font-size: 3rem;
  line-height: 1.3;
}

header > p {
  padding: 0.5rem 2rem 2rem;
  line-height: 1.8;
  color: brown;
  margin: 0;
}

header > .peach {
  font-size: 5rem;
  padding: 3rem 2rem 1rem;
  margin: 0;
  line-height: 1;
}

.article-tools {
  text-align: center;
  padding: 2rem;
}

.pexego-container {
  padding-bottom: 2rem;
}

.m-l-05 {margin-left: 0.5rem !important;}
.m-r-05 {margin-right: 0.5rem !important;}
